In [57]:
#Question1:Write poem.
poem='''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

Twinkle, twinkle, little star,
How I wonder what you are'''

print(poem)

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

Twinkle, twinkle, little star,
How I wonder what you are

In [50]:
#Question2:how to see python version.
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [25]:
#Question3:display the current date and time.
import datetime
now=datetime.datetime.now()

print(now.strftime('Time: %I:%M:%S'))
print(now.strftime('Date: %d/%m/%Y'))

Time: 10:33:10
Date: 22/10/2021

In [29]:
#Question4:find area by radius
from math import pi
radius=float(input("radius value: "))
Area=pi*(radius**2)

print("Area of a circle of radius="+ str(radius)+" is")
print(str(Area))

radius value: 9
Area of a circle of radius=9.0 is
254.46900494077323

In [30]:
# Question5:accepts the user's first and last name and print them in
# reverse order with a space between them.
first_name=input("first_name: ")
last_name=input("last_name: ")

print(last_name+" "+first_name)

first_name: mehboob
last_name: rafiq
rafiq mehboob

In [31]:
# Question6:takes two inputs from user and print them addition

first_input=float(input("first_input: "))
second_input=float(input("second_input: "))
add=first_input+second_input

print("total of both: "+str(add))

first_input: 3.5
second_input: 5.9
total of both: 9.4

In [45]:
# Question7:takes 5 inputs from user for different subjectâ€™s marks, total it
and generate mark sheet using grades
math_mark=int(input("math mark: "))
chemistry_mark=int(input("chemistry mark: "))
islamiyat_mark=int(input("islamiyat mark: "))
urdu_mark=int(input("urdu mark: "))
english_mark=int(input("english mark: "))

All_total_marks=500

total_get_marks=math_mark+chemistry_mark+islamiyat_mark+urdu_mark+english_mark

print("total_get_marks: "+str(total_get_marks))
total_percentage=total_get_marks/All_total_marks*100
print("total_percentage: "+str(total_percentage))
if total_percentage>=90 and total_percentage<=100 :
    print("A Grade")
elif total_percentage>=80 and total_percentage<90:
    print("B Grade")
elif total_percentage>=70 and total_percentage<80:
    print("C Grade")
elif total_percentage>=60 and total_percentage<70:
    print("D Grade")
elif total_percentage>=50 and total_percentage<60:
    print("E Grade")
elif total_percentage>=40 and total_percentage<50:
    print("D Grade")
elif total_percentage>=0 and total_percentage<40:
    print("D Grade")
else:
    print("invalid number")

math mark: 90
chemistry mark: 89
islamiyat mark: 78
urdu mark: 98
english mark: 97
total_get_marks: 452
total_percentage: 90.4
A Grade

In [1]:
# Question8:take input from user and identify that the given number is even or odd

num=float(input("Number: "))

if (num%2)==0:
    print("Number "+str(num)+" is even")
else:
    print("Number "+str(num)+" is odd")

Number: 9
Number 9.0 is odd

In [2]:
# Question9:print the length of the list
list1=[1,2,3,4,5,6,7,8]
len(list1)

8

In [3]:
# Question10:sum all the numeric items in a list

list2=[1,2,3,4,5,6,7,8,9,10]
list_sum=sum(list2)

print(list_sum)

55

In [15]:
# Question11:get the largest number from a numeric list.
list2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
max(list2)

15

In [4]:
# Question12:that prints out all the elements of the list that are less than 5.

list_a= [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in list_a:
 if i<5:
    print(i)

1
1
2
3